<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragment/htmlHead.html :: html-head" />
    <title>Board</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
    <th:block th:replace="/fragment/headerBar.html :: header-bar" />

    <div class="board-wrapper">
        <h1> 게시판 </h1>
        <div class="table-container">
            <table>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
                <tr th:each="post : ${postList}">
                    <td th:text="${post.id}"></td>
                    <td><a th:text="${post.title}" th:href="@{/board/{id}(id = ${post.id})}"></a></td>
                    <td th:text="${post.author}"></td>
                    <td th:text="${post.createdTime}"></td>
                </tr>
            </table>
        </div>
        <button type="button" class="write-page-button"
                onclick="location.href=location.href+'/write'"> Write </button>
    </div>
</body>
</html>