<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragment/commonHead.html :: common-head" />
    <th:block th:replace="/fragment/headerBarHead.html :: header-bar-head" />
    <title>Board Post</title>
    <link rel="stylesheet" th:href="@{/css/postPassword.css}" type="text/css">
</head>
<body>
    <th:block th:replace="/fragment/headerBarBody.html :: header-bar-body" />

    <div class="wrapper">
        <h1 class="password-title">게시글 수정 비밀번호</h1>
        <form class="password-form" th:action="|/board/${postId}/password|" th:method="post">
            <input class="password-input" type="password" name="password" id="password" placeholder="패스워드를 입력해 주세요">
            <input class="password-btn" type="submit" value="확인">
        </form>
    </div>
</body>
</html>