<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragment/commonHead.html :: common-head" />
    <th:block th:replace="/fragment/headerBarHead.html :: header-bar-head" />
    <title>Board Post</title>
    <link rel="stylesheet" th:href="@{/css/post.css}" type="text/css">
</head>
<body>
  <h1>비회원 패스워드 입력 페이지</h1>
    <form th:action="@{/board/${postId}/password}" th:method="post">
        <input type="password" name="password" id="password">
        <label for="password">게시글 패스워드</label>
        <input type="submit" value="확인">
    </form>
</body>
</html>