<!--
# 사용 방법
공통으로 사용되는 head 설정 요소들을 포함합니다.
thymeleaf 와 공통으로 사용되는 css 를 불러옵니다.

# 주의 사항
1. header bar 가 존재하는 페이지에 사용합니다.
2. fragment 적용 위치는 아래와 같이
<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/fragment/commonHead.html :: common-head"></th:block>
헤더 첫 부분에 사용해 주세요.
3. bootstrap-head 와 중복으로 import 하지 마세요.
-->
<th:block th:fragment="common-head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="/fragment/bootstrap.html :: bootstrap-head" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/commonStyle.css}" />
</th:block>
