<th:block th:fragment="header-bar-body">
    <div class="header-container-wrapper">
        <div class="header-container">
            <header class="header-bar d-flex flex-wrap justify-content-center py-3 mb-4">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
                    <img class="bi me-2" height="32" src="/p_logo.svg" width="40" />
                    <span class="fs-4">Physicks Board</span>
                </a>

                <ul class="nav nav-pills">
                    <!--                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page"></a></li>--> <!-- 활성시 active 클래스 추가 -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/board"
                           th:classappend="${nowUri == '/board' ? 'active' : ''}">
                            Board
                        </a>
                    </li>
                    <li class="nav-item">
                        <div th:unless="${username != null}">
                            <button type="button" class="btn login-btn"
                                    data-bs-toggle="modal" data-bs-target="#login-modal">
                                Login
                            </button>
                        </div>
                        <div th:if="${username != null}">
                            <div>
                                <form action="/logout" method="post">
                                    <button type="submit" class="btn logout-btn">Logout</button>
                                </form>
<!--                                <a href="/logout" class="btn logout-btn" role="button">Logout</a>-->
                            </div>
                            <div style="visibility: hidden; display: none" th:text="'Logged in as : '+${username}"> 유저이름 </div>
                        </div>
                    </li>
                </ul>
            </header>
        </div>
    </div>

    <!-- Login Modal 창 -->
    <div class="modal-section-wrapper">
        <th:block th:replace="fragment/loginModalBody.html :: login-modal-body" />
    </div>
</th:block>