<th:block th:fragment="login-modal" >
    <div class="modal" id="login-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>로그인 창이 여기 들어감</p>
                </div>
                <div class="modal-footer">
                    <a href="/oauth2/authorization/google"
                       class="google-login" role="button">
                        <img src="https://madeby.google.com/static/images/google_g_logo.svg" alt="google login" />
                    </a>
                    <button type="button"
                            class="btn btn-secondary login-modal-close"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>