.header-container-wrapper {
    margin-left: 25px !important;
    margin-right: 25px !important;
    display: flex;
    justify-content: center;
}
.header-bar {
    border-bottom: 1px solid gray;
}

.header-container {
    width: 1280px;
}

/* login modal 열릴 시 body 태그에 padding이 생기는 것을 막습니다 */
body.modal-open {
    padding-right: 0 !important;
}
