.header-container-wrapper {
    margin-left: 25px !important;
    margin-right: 25px !important;
    display: flex;
    justify-content: center;
}
.header-bar {
    border-bottom: 1px solid gray;
}

.header-container {
    width: 1280px;
}

/* login modal 열릴 시 body 태그에 padding이 생기는 것을 막습니다 */
body.modal-open {
    padding-right: 0 !important;
}

.login-btn {
    background-color: #c5c5c5;
    border: none;
    padding: 8px 12px;
    margin-left: 8px;
}

.login-btn:hover {
    background-color: #a8a8a8;
}

.logout-btn {
    color: #f0f0f0;
    background-color: rgb(52, 60, 182);
    border: none;
    padding: 8px 12px;
    margin-left: 8px;
}

.logout-btn:hover {
    background-color: rgb(74, 83, 222);
}


/* MODAL WINDOW */

.google-login {
    display: flex;
    height: inherit;
    align-items: center;
    margin: 5px 0;
    padding: 10px 30px;
    border: 1px solid #c7c7c7;
    background-color: #fefefe;
    border-radius: 5px;
}

.google-login:hover {
    background-color: #f3f3f3;
}

.google-login a, .google-login div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.google-login img {
    height: 1em;
}

.modal-footer {
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.oauth-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-oauth-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.btn-footer {
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal-wrapper {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.modal-content {
    align-items: center;
}

.login-area-input-wrapper > input {
    display: block;
    margin: 20px;
    padding: 7px 13px;
    border: 1px solid black;
    border-radius: 5px;
}