.wrapper {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-title {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}

.password-input {
    background-color: #cecefd47;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    text-align: center;
}

.password-input:focus {
    background-color: #f4f4ff47;
    outline: none;
    box-shadow: 0 0 0 2px #4c4cff47 inset;
}

.password-btn {
    border: none;
    background-color: #9696ff47;
    border-radius: 0 10px 10px 0;
}

.password-btn:hover {
    background-color: #9696ff;
    color: white;
    transition: 0.1s;
}

.password-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

