<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
</head>
<body>

    <!--로그인 된 경우 로그아웃 표시-->
    <div th:if="${username != null}">
        <div th:text="'Logged in as : '+${username}" style="white-space: nowrap"> 유저이름 </div>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
    </div>

    <!-- Google Oauth2 버튼 -->
    <div th:unless="${username != null}">
        <div>
            <a href="/oauth2/authorization/google" class="bottomNav btn-success active" role="button">
                Google Login
            </a>
        </div>
    </div>

</body>
</html>