<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Write Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/write.css}">
</head>
<body>
    <h1>Post Write Page</h1>

    <form id="post-form" name="post-form" method="post" >
        <div id="inputs-container">
            <input type="text" id="title" name="title" placeholder="제목"> <br>
            <input type="text" id="author" name="author" placeholder="작성자"> <br>
        </div>
        <textarea id="content" name="content" form="post-form" placeholder="내용"></textarea> <br>
        <input type="submit" value="Write">
    </form>
</body>
</html>